In [109]:
!pip3 install nltk
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import nltk
import re
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords

Requirement already satisfied: nltk in c:\users\moyank giri\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (3.6.2)
Requirement already satisfied: joblib in c:\users\moyank giri\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (from nltk) (0.15.1)
Requirement already satisfied: click in c:\users\moyank giri\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (from nltk) (7.1.2)
Requirement already satisfied: regex in c:\users\moyank giri\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (from nltk) (2021.4.4)
Requirement already satisfied: tqdm in c:\users\moyank giri\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (from nltk) (4.46.1)

In [110]:
True_news = pd.read_csv('True.csv')
Fake_news = pd.read_csv('Fake.csv')

In [111]:
True_news['label'] = 0
Fake_news['label'] = 1

In [112]:
True_news.head()

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",0

In [113]:
Fake_news.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",1
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",1

In [114]:
dataset1 = True_news[['text','label']]
dataset2 = Fake_news[['text','label']]
dataset = pd.concat([dataset1 , dataset2])
dataset.shape

(44898, 2)

In [115]:
dataset.isnull().sum() # no null values

text     0
label    0
dtype: int64

In [116]:
dataset = dataset.sample(frac = 1) #to convert to dataframe
dataset.shape

(44898, 2)

In [117]:
#nltk.download('stopwords')
ps = WordNetLemmatizer()
Stopwords = stopwords.words('english')
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to C:\Users\moyank
[nltk_data]     giri\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [118]:
def cleaning_data(row):
    
    row = row.lower() 
    row = re.sub('^[A-Za-z0-9]' , ' ' , row)
    token = row.split() 
    news = [ps.lemmatize(word) for word in token if not word in Stopwords]  
    cleanned_news = ' '.join(news) 
    return cleanned_news

In [119]:
dataset['text'] = dataset['text'].apply(lambda x : cleaning_data(x))

In [120]:
#dataset['title'] = dataset['title'].apply(lambda x : cleaning_data(x))

In [121]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(max_features = 50000 , lowercase=False , ngram_range=(1,2))  
# N-grams are contiguous sequences of n-items in a sentence : considering unigram and bigram
# max_features => creates a feature matrix with the top 50000 most frequently occuring word in all text documents

In [122]:
X = dataset.iloc[:40000,0]
X

721      n thursday, donald trump awarded medal valor f...
22177    1st century wire say vault 7: mean america, ex...
7333     diego (reuters) - u.s. judge overseeing lawsui...
1694     become obvious donald trump absolutely filter ...
12052    georgetown university associate professor mont...
                               ...
9323     juan (reuters) - struggling puerto rico enters...
12828    eirut (reuters) - lebanon hezbollah group join...
16828    mind-blowing interview confirms much many u su...
6168     hile speaking g-7 summit shima, japan, preside...
20729    hare everyone! good reason (with exception oba...
Name: text, Length: 40000, dtype: object

In [123]:
y = dataset.iloc[:40000,1]
y

721      1
22177    1
7333     0
1694     1
12052    1
        ..
9323     0
12828    0
16828    1
6168     1
20729    1
Name: label, Length: 40000, dtype: int64

In [124]:
from sklearn.model_selection import train_test_split
train_data , test_data , train_label , test_label = train_test_split(X , y , test_size = 0.2 ,random_state = 0)

In [125]:
vec_train_data = vectorizer.fit_transform(train_data)
vec_train_data = vec_train_data.toarray()
print(vec_train_data)

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

In [126]:
vec_test_data = vectorizer.transform(test_data).toarray()
print(vec_test_data)

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

In [127]:
training_data = pd.DataFrame(vec_train_data , columns=vectorizer.get_feature_names())
testing_data = pd.DataFrame(vec_test_data , columns= vectorizer.get_feature_names())

In [128]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score,classification_report
clf = MultinomialNB()
clf.fit(training_data, train_label)
y_pred  = clf.predict(testing_data)

In [129]:
print(classification_report(test_label , y_pred))

              precision    recall  f1-score   support

           0       0.96      0.96      0.96      3815
           1       0.96      0.96      0.96      4185

    accuracy                           0.96      8000
   macro avg       0.96      0.96      0.96      8000
weighted avg       0.96      0.96      0.96      8000

In [130]:
y_pred_train = clf.predict(training_data)
print(classification_report(train_label , y_pred_train))

              precision    recall  f1-score   support

           0       0.96      0.96      0.96     15306
           1       0.97      0.97      0.97     16694

    accuracy                           0.96     32000
   macro avg       0.96      0.96      0.96     32000
weighted avg       0.96      0.96      0.96     32000

In [131]:
accuracy_score(train_label , y_pred_train)

0.96384375

In [132]:
accuracy_score(test_label , y_pred)

0.95975

In [136]:
news = cleaning_data(str("VATICAN CITY (Reuters) - Callista Gingrich, wife of the former speaker of the U.S. House of Representatives, on Friday became U.S. ambassador to the Vatican, which is at odds with Washington over immigration, climate change and Jerusalem. Callista Gingrich, 51, an author, documentary filmmaker and former congressional aide, presented her credentials to Pope Francis at the Vatican to officially assume her role. Her husband Newt Gingrich was an early supporter and vocal ally of U.S. President Donald Trump. Newt Gingrich is expected to continue his role as a political contributor to Fox News from his new base in Rome. Trumpâ€™s nomination of Callista Gingrich to the post at the Holy See in May caused some controversy because of her marriage to Gingrich, with whom she became involved when he was still married to his second wife. Both are Roman Catholic. On Thursday they attended the funeral at the Vatican of Cardinal Bernard Law, who resigned as Archbishop of Boston 15 years ago after covering up years of sexual abuse of children by priests.  The pope has implicitly criticized Trumpâ€™s decision to pull out of the Paris accord on climate change. He said last month that denying climate change or being indifferent to its effects were â€œperverse attitudesâ€ that blocked research and dialogue aimed at protecting the future of the planet. Francis is also opposed to Trumpâ€™s decision to recognize Jerusalem as Israelâ€™s capital. The pontiff has called for respect for the cityâ€™s â€œstatus quo,â€ saying new tension in the Middle East would further inflame world conflicts.. On Thursday at the United Nations, where the Vatican has permanent observer status, more than 120 countries defied Trump and voted in favor of a resolution calling for the United States to drop its recent recognition. The U.S. embassy said in a statement that the new ambassador â€œlooks forward to working with the Holy See to defend human rights, advance religious freedom, combat human trafficking, and to seek peaceful solutions to crises around the world" ))    
single_prediction = clf.predict(vectorizer.transform([news]).toarray())
if single_prediction == 0:
    print("TRUE")
else:
    print("FALSE")

TRUE